parameters:
    consumers: [test]
    bot.name: nono
    bot.email: no-reply@shirka.com

    remote.users: [XXX]
    remote.servers: 
        # paramiko option - http://www.lag.net/paramiko/docs/paramiko.SSHClient-class.html
        nono: {host: XXXX, username: XXXX, look_for_keys: false, password: XXXX }

    # configure flow parameterstest
    flowdock.test.organisation: shirka
    flowdock.test.flow.name:    FLOW_NAME
    flowdock.test.flow.token:   FLOW_TOKEN
    flowdock.test.user.name:    rande
    flowdock.test.user.token:   USER_TOKEN


services:

    # Configure the bot
    bot:
        class: shirka.consumers.Bot
        arguments: [ '%bot.name%', '%bot.email%']

    # Configure shared responders
    responders.math:
        class: shirka.responders.MathResponder

    responders.xkcd:
        class: shirka.responders.XkcdResponder

    responders.big_bro:
        class: shirka.responders.BigbroResponder

    responders.reminder:
        class: shirka.responders.ReminderResponder

    responders.status:
        class: shirka.responders.StatusResponder

    responders.rage_face:
        class: shirka.responders.RagefaceResponder

    responders.wat:
        class: shirka.responders.WatResponder

    responders.9gag:
        class: shirka.responders.NineGagResponder

    responders.remote:
        class: shirka.responders.RemoteResponder
        arguments: 
            - '%remote.servers%'
            - '%remote.users%'


    # Configure flowdock push API
    flowdock.test:
        class: flowdock.FlowDock
        kwargs: 
            api_key:  '%flowdock.test.flow.token%'
            app_name: '%bot.name%'
            project:  Project test

    consumer.test.flowdock.logger:
        class: logging.getLogger
        arguments:
            - 'flowdock.%flowdock.test.flow.name%'
            
    # Configure Stream API Consumer with valid responders
    consumer.test.flowdock:
        class: shirka.consumers.FlowDockConsumer
        arguments: 
            - '@shirka.bot'
            - "%flowdock.test.flow.token%"
            - 
                - '@responders.rage_face' 
                - '@responders.test.whois'
                - '@responders.math' 
                - '@responders.big_bro'
                - '@responders.reminder'
                - '@responders.remote'
                - '@responders.status'

                - '@responders.test.help'
                - '@responders.test.whois'
                
            - '@flowdock.test'
        kwargs:
            logger: '@consumer.test.flowdock.logger'

    responders.test.whois:
        class: shirka.responders.FlowdockWhoisResponder
        arguments:
            - '%flowdock.test.organisation%'
            - '%flowdock.test.flow.name%'
            - '%flowdock.test.user.token%'

    responders.test.help:
        class: shirka.responders.HelpResponder