include README.txt
include AUTHORS
include LICENSE
include MANIFEST.in
include tests.py
include config.yml.sample
recursive-include shirka *
recursive-include docs *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]