<div>
    <h3>Process list</h3>

    <table class="table">
        <thead>
            <td>ID</td>
            <td>State</td>
            <td>User</td>
            <td>Server</td>
            <td>Created At</td>
        </thead>
        <tr ng-repeat="process in processes.results">
            <td>
                <a ng-href="#/process/{{process.id}}">{{ process.id }}</a> <br />
                {{ process.command }}
            </td>
            <td>
                {{ process.state }}
            </td>
            <td>
                {{ process.user }}
            </td>
            <td>
                {{ process.server }}
            </td>
            <td>
                {{ process.created_at }}
            </td>
        </tr>
    </table>
</div>